[include]
	path = ~/.gitconfig.local
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = "code --wait --merge $REMOTE $LOCAL $BASE $MERGED"
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff $LOCAL $REMOTE"
[init]
	defaultBranch = master
[pull]
	rebase = true
[core]
	pager = git-split-diffs --color | less -RFX
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
