[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = puer
	email = ihomway@live.com
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = "code --wait $MERGED"
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff $LOCAL $REMOTE"
[init]
	defaultBranch = master
